/* Importação de fonte*/
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

@font-face{
  font-family: 'Morpheus';
  src: url('assets/morpheus/MORPHEUS.TTF'),
  format('truetype');
  font-weight: normal;
  font-style: bold;
}

@font-face{
  
  font-family: 'Gallifreyan';
  src: url('assets/simple_gallifreyan/simple_gallifreyan.ttf'), 
  format('truetype');
  font-weight: normal;
  font-style: normal;
  
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*

font-family: 'Moderustic', Sans-Serif;

background-image: linear-gradient(to bottom right, #f0f0f0, #0a1630);

background: linear-gradient(to bottom left, #284680, #0a1630); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));

filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    display: flex;

*/

 /* Estiliza o corpo da página */
body {
    font-family: "Moderustic", sans-serif; /* Define a fonte padrão */
    background-image: url("assets/galeria/tardis.gif");
   background-image: linear-gradient(to bottom right, #f0f0f0, #0a1630);  /*Cor de fundo da página */
     /* display: flex; Usa Flexbox para layout */
    /* flex-direction: column; Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 100vh; /* Preenche a altura   total da viewport */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 2.5rem; /* Tamanho da fonte */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.4rem; /* Espaçamento entre letras */
    background: linear-gradient(to bottom left, #284680, #0a1630); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 2rem; /* Espaçamento abaixo de cada seção */
}

.row{
  
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(2,1fr);
  gap: 50px;
}


.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8.5rem;
  height: 8.5rem;
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1rem; /* Borda arredondada */
    background-color: #30475E; /* Cor de fundo do botão */
    margin-top: 45px;
    margin-bottom: 1.5rem;
    color: #F5F7F8; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}


/* Adiciona efeito hover ao botão de pesquisa */
.button:hover {
    background-color: #30475E; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa */
}

.button h3 {
  font-family: 'Morpheus';
    font-size: 1rem; /* Tamanho da fonte */
    margin-top: -10px;
    color: #f0f0f0;/* Cor do texto */
    text-align: center;

}

.button img{
  
  filter: brightness(120%);
  width: 200px;
  display: flex;
  margin-top: -60px;
  animation: girar 2s infinite linear;
}


section label{
  
  margin-bottom: 0.5rem;
  
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 30rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    text-align: center;
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    color: #45474B; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
    
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color: #30475E; /* Cor de fundo do botão */
    color: #F5F7F8; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
    background-color: #30475E; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa */
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 55vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
    
}

/* Estiliza cada item de resultado */
.item-resultado {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000; /* Cor de fundo dos itens */
    opacity: 0.5;
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 0.5rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
  font-family: 'Gallifreyan', 'Moderustic';
    font-size: 2.5rem; /* Tamanho da fonte */
    margin-top: -12px;
    color: #f0f0f0;/* Cor do texto */
    text-align: center;
    
}


/*.item-resultado h3 {
  font-family: 'Morpheus';
    font-size: 1rem; 
    margin-top: -16px;
    color: #f0f0f0;
    text-align: center;

}*/ 

.item-resultado img{
  
  max-width: 50%;
  height: 50%;
  margin-top: -11px;
  border-radius: 100%;
  overflow: hidden;
  object-fit: cover;

}

audio {
    width: 100%; /* Ocupa toda a largura do container */
    border-radius: 10px; /* Borda arredondada */
    color: #fff; /* Cor das informações do player */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra azul */
    padding: 10px;
    margin-top: 10px;
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #30475E; /* Cor do texto dos links */
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #FFFFFF; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
    text-align: left;
}

/* Estiliza o rodapé da página */
footer {
    background-color: #F5F7F8; /* Cor de fundo do rodapé */
    color: #45474B; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: absolute;
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Tamanho da fonte em telas menores */
        letter-spacing: 0.2rem; /* Espaçamento entre letras em telas menores */
    }

    section input {
        width: 25rem; /* Largura dos inputs em telas menores */
        padding: 0.8rem; /* Espaçamento interno em telas menores */
    }

    .resultados-pesquisa {
        width: 40rem; /* Largura da caixa de resultados em telas menores */
        height: 40vh; /* Altura da caixa de resultados em telas menores */
    }

    .item-resultado h2 {
        font-size: 1.3rem; /* Tamanho da fonte dos títulos em telas menores 5t*/
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem; /* Tamanho da fonte em telas pequenas */
        letter-spacing: 0.1rem; /* Espaçamento entre letras em telas pequenas */
    }

    section input {
        width: 17rem; /* Largura total dos inputs em telas pequenas */
    }

    section button {
        padding: 0.6rem 1rem; /* Espaçamento interno do botão em telas pequenas */
        font-size: 0.9rem; /* Tamanho da fonte do botão em telas pequenas */
    }

    .resultados-pesquisa {
        width: 90%; /* Largura da caixa de resultados em telas pequenas */
        height: 50vh; /* Altura da caixa de resultados em telas pequenas */
    }

    .item-resultado h2 {
        font-size: 1.1rem; /* Tamanho da fonte dos títulos em telas pequenas */
    }

    footer {
        font-size: 0.9rem; /* Tamanho da fonte do rodapé em telas pequenas */
    }
} 